<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjj.wm.mapper.QkUserOrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.wjj.wm.pojo.QkUserOrganization" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.wjj.wm.pojo.QkUserOrganization" >
    insert into qk_user_organization (id, pid, org_name, 
      desc, create_time)
    values (#{id,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, 
      #{desc,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wjj.wm.pojo.QkUserOrganization" >
    insert into qk_user_organization
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="orgName != null" >
        org_name,
      </if>
      <if test="desc != null" >
        desc,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
    <select id="selectByOid" resultType="java.lang.Integer" parameterType="java.lang.String">
      SELECT count(1) FROM qk_user_organization WHERE id = #{organizationId}
    </select>
</mapper>